@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
h1{
    
    margin-left:299.9px;
    color:black;
    position: relative;
    font-family: "Poppins";
    margin-top: 40px;
}
#size1{
    width: 20%;
    float: left;
}
nav{
    color: rgb(255, 255, 255);
    position: fixed;
    width: 20%;
    height: 100vh;
    background-color:#F44336;
top: 0%;
font-family: "Poppins";
  
}
#H3{
    position: relative;
    top: 50px;
  left: 45px;
}
a{
    position: relative;
    top: 90px;
  left: 50px;
}


a:hover{
    color: black;
    cursor: pointer;
    font-size: 20px;
    background-color: white;
}
#size{
    width: 80%;
    float: right;

}
section{
    top: 40px;
}
#table img{
    width: 400px;
    height: 200px;
    position: relative;
    left: 45px;
top: auto;
float: left;
    padding: 4px;
}
#table img:hover{
    opacity: 0.6;
    cursor: pointer;
}
section h2{
    margin-left: 50PX;
    top: auto;
    margin-bottom: 30px;
}
hr{
    border:5px solid #F44336 ;
    width: 45px;
    border-color:#F44336;
    border-radius: 20px;
  margin-left: 50PX;
   top: auto;
   position: relative;
   margin-bottom: 30px;
}
h2{
    color: #F44336;
    position: relative;
    font-family: "Poppins";
    margin-left: 50PX;
    top: auto;
}
section p{
    position: relative;
    margin-left: 50PX;
    top: auto;
    font-family: "Poppins";
    width: 825px;
}


#table2 img{
    width: 230px;
    height: 150px;
    left: 45px;
top: auto;
float: left;
   float: initial;
   padding: 0%;
 
}

#table2 td{
    width: 230px;
    height: 350px;
    float: left;
    margin-right: 20px;
    margin-left: 45PX;
    top: auto;
    margin-top: 50px;
    background-color: #f1f1f1;
}
#table2 h3{
  font-size: large;
    font-family: "Poppins";
    margin-top: 10px;
    margin-left: 15px;
}
#table2 h4{
    font-size: small;
    font-size: 15px;
    font-family: "Poppins";
    margin-top: 10px;
    margin-left: 15px;
    color: #757171;
}
#table2 p{
    font-size: small;
    font-size: 14px;
    font-family: "Poppins";
    margin-top: 10px;
    width: 230px;
    margin-left: 15px;
}

.table2{
    overflow: hidden;
}

.table2{
    float:left;
    margin-top: 10px;
    overflow: hidden;
    width: 400px;
    height: 500px;
    background-color: rgb(227, 227, 227);
    text-align: center;
    margin-left: 45px;


}

.table2 td{
    border: 1px solid #817e7e;
    text-align: center;
    padding: 8px;
    padding-right: 20px;
}

.table2 th{
    border: 1px solid #817e7e;
    text-align: center;
    padding: 8px;
}

#Basic{
      background-color: rgba(97, 97, 97, 1);
}

#pro{
    background-color:#f44336  ;
}


#Pro{
    padding-top: 5px;
    text-align: center;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-style: none;
    background-color: #F44336;
}

#basic{
    padding-top: 5px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-style: none;

}

input,h5{
    padding-top: 10px;
    margin: 5px ;
    margin-left: 50PX;
    width: 835px;
}
form button{
  font-family: "poppins";
 padding-top: 15px;
    margin: 10px ;
    background-color: #F44336;
    border: none;
    color: white;
    margin-left: 50PX;
    width: 835px;
}

form,h5{
    font-size: small;
    font-family: "poppins";
}
footer img{
    width: 50px;
    height: 25px;
padding: 20px;
margin-left: 150px;
}
footer{
    background-color: #f1f1f1;
  height: 100px;
  margin-left: 50PX;
  margin: 15px;
 
}
 footer img:hover{
    color: black;
    cursor: pointer;
    font-size: 20px;
background-color: #F44336;
 }
